.container.single{
  @extend .dir;

  .flex--slider{
    width: $width;
    padding-bottom: 30px;
    .slider{
      width: 643px;
      margin-right: auto;
      margin-left: auto;
      @media#{$tablet }{
        width: 64%;
      }
      @media#{$Medium}{
        width: 90%;
      }
      .main-carousel{
        width: $width;
        height: 300px;
        .carousel-cell{
          width: $width;
          height: $height;
          .img--user{
            width: $width;
            height: $height;
          }
        }
      }
    }
    .nav_slider2{
      width: 800px;
      margin-right: auto;
      margin-left: auto;
      border: solid 1px #ccc;
      margin-top: 40px;
      @media#{$Medium}{
        width: 80%;
      }
      @media#{$mobile-big}{
        width: $width;
      }
      .carousel-nav{
        width: $width;
        .carousel-cell{
          width: 30%;
          margin-right: 5%;
          height: 125px;
          @media#{$tablet}{
            width: 30%;
            margin-right: 5%;
          }
          @media#{$mobile-big}{
            width:48%;
            margin-right: 2%;
          }
          &:nth-child(2n){
            @media#{$mobile-big}{
              margin-right: 0px;
            }
          }
          @media#{$mobile}{
            width: $width;
          }
          .img--user{
            width: $width;
            height: $height;
          }
        }
      }
    }
    .video{
      width: $width;
      height: $height;
    }
  }
  .flex--tabs{
    width: $width;
    display: flex;
    padding-bottom: 20px;
    .menu_tab{
      width: $width;
      display: flex;
      flex-flow: column;
      border: solid 1px #dfdfdf;
      .tabs{
        display: flex;
        width: $width;
        ul{
          display: flex;
          width: $width;
          background: #26324a;
          flex-wrap: wrap;
          @media screen and ("max-width:500px"){
            flex-direction: column;
          }
          .selected{
            background: #f7c300;
            transition: all 120ms ease-in;
            .title{
              color: #26324a;
              transition: all 120ms ease-in;
            }
          }
          li{
            display: inline-flex;
            padding-top: 8px;
            transition: all 120ms ease-in;
            border-left: solid 1px #7b818d;
            @media screen and ("max-width:500px"){
              width: $width;
              text-align: center;
              justify-content: center;
            }
            &:last-of-type{
              border: none;
            }
            .title{
              @include Bold(18);
              color: $white;
              padding-right: 18px;
              padding-left: 18px;
              padding-top: 8px;
              padding-bottom: 16px;
              cursor: pointer;
              transition: all 120ms ease-in;
            }
          }
        }
      }
      .flex---descrption{
        width: $width;
        display: flex;
        flex-direction: column;
        .flex--descrption{
          width: $width;
          display: none;
          flex-direction: column;
          padding-top: 20px;
          padding-bottom: 13px;
          padding-right: 18px;
          padding-left: 18px;
          &:first-child{
            display: flex;
          }
          &:nth-child(3){
            display: block;
          }
          &:nth-child(4){
            padding-right: 33px;
            padding-left: 13px;
          }
          .Checking_tab{
            width: $width;
            display: flex;
            flex-direction: column;
            .title{
              @include Web(16);
              color: #2e2e2e;
              font-weight: 600;
              width: $width;
              cursor: default;
              margin-bottom: 18px;
            }
            .descrption{
              width: $width;
              @include Web(14);
              cursor: default;
              margin-top: 0px;
            }
          }
          .property{
            width: $width;
            display: flex;
            .flex--cols{
              width: $width;
              display: flex;
              flex-wrap: wrap;
              .flex--col{
                display: flex;
                margin-bottom: 15px;
                align-items: flex-start;
                .item{
                  width: 240px;
                  background: #dcdee0;
                  transition: all 95ms ease-in-out;
                  @include Web(16);
                  color:#2e2e2e;
                  text-align: center;
                  padding-right: 70px;
                  padding-left: 70px;
                  padding-bottom: 6px;
                  padding-top: 6px;
                  margin-left: 20px;
                  cursor: pointer;
                }
              }
            }
          }
          .flex---items{
            .flex--item{
              width: 360px;
              @media#{$desktop}{
                width: 32%;
                margin-left: 2%;
              }
              @media#{$Medium}{
                width: 49%;
              }
              @media screen and ("max-width:500px"){
                width: $width;
                margin-left: 0px;
              }
              &:nth-child(3n){
                margin-left: 0px;
                @media#{$Medium}{
                  margin-left: 2%;
                }
              }
              &:nth-child(2n){
                @media#{$Medium}{
                  margin-left: 0px;
                }
              }
              .descrption{
                word-break: break-all;
              }
            }
          }
        }
      }
    }
  }
  .flex---min{
    width: $width;
    display: flex;
    align-items: flex-start;
    .flex---slider{
      display: flex;
      width: $width;
      @media#{$tablet}{
        flex-direction: column;
      }
      .flex---right{
        width: 50%;
        display: flex;
        justify-content: center;
        @media#{$tablet}{
          width: $width;
        }
        .slider{
          width: $width;
        }
        .nav_slider2{
          width: $width;
        }

      }
      .flex---left{
        width: 50%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding-right: 20px;
        @media#{$tablet}{
          width: $width;
          margin-bottom: 40px;
        }
        .flex---text{
          width: $width;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          margin-bottom: 15px;
          cursor: default;
          .text{
            @include Web(18);
            color: #000000;
          }
        }
        .flex--cols{
          display: flex;
          width: $width;
          flex-wrap: wrap;
          .flex--col{
            display: flex;
            width: $width;
            margin-bottom: 10px;
            align-items: flex-start;
            .flex--right{
              display: flex;
              width: 25%;
              background: #f0f1f2;
              padding-right: 8px;
              padding-left: 8px;
              .title{
                @include Web(16);
                color: #2e2e2e;
                padding-top: 5px;
                padding-bottom: 4px;
                cursor: default;
                width: $width;
              }
            }
            .flex--left{
              width: 75%;
              display: flex;
              background: #f7f9fa;
              margin-right: 20px;
              padding-right: 8px;
              .title{
                @include Web(16);
                padding-top: 5px;
                padding-bottom: 4px;
                cursor: default;
              }
            }
          }

        }

      }
    }

  }
}
