.contact{
  width: $width;
  @extend .dir;
  .flex--contact{
    width: $width;
    display: flex;
    padding-top: 130px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    @media screen and ("max-width:900px"){
      padding-top: 30px;
    }
    @media#{$Medium}{
      flex-direction: column;
    }
    .flex---right{
      display: flex;
      align-items: flex-start;
      width: 50%;
      @media#{$Medium}{
        width: $width;
      }
      .items{
        display: flex;
        width: $width;
        flex-wrap: wrap;
        @media#{$Medium}{
          margin-bottom: 20px;
        }
        .item{
          width:$width;
          margin-top: 8px;
          margin-bottom: 8px;
          display: flex;
          .text{
            @include Web(16);
            color: #2e2e2e;
            cursor: default;
          }
          .title{
            @include Web(16);
            color: #000000;
            cursor: default;
            margin-right: 8px;
            cursor: default;
          }

        }
      }
    }
    .flex---left{
      display: flex;
      width: 50%;
      @media#{$Medium}{
        width: $width;
      }
    }
  }
  .Map{
    width: $width;
    height: 300px;
    #googleMap{
      width: $width;
      height: $height;
    }
  }
}
