<div class="container" >
  <div class="flex--wrap">
    <div class="flex---slider">
      <ui-view name="logo_min"></ui-view>
      <ui-view name="flickity"></ui-view>
    </div>
    <div class="flex---content">
      <div class="logo-min2">
        <div class="min--logo">
          <a ui-sref="master.index" href="#">
            <img src="styles/img/logo.png" class="img--logo" alt="">
          </a>
        </div>
        <div class="flex---items">
          <div class="wrapper">
            <div class="flex--parent">
              <div class="flex--text">
                <h3 class="text">
                  {{ 'article' | translate }}
                  <div class="flex--line">
                    <div class="flex--right">      <!-- right -->
                      <span class="line"></span>
                    </div>
                    <div class="flex--left">          <!-- left -->
                      <span class="line"></span>
                    </div>
                  </div>
                </h3>
              </div>
              <div class="flex---wrap">
                <div class="flex--item">
                  <a ui-sref="master.single">
                    <div class="flex--img">
                      <img src="styles/img/img-content.jpg" class="img--content" alt="">
                    </div>
                    <div class="flex--content">
                      <h3 class="title">عنوان اطلاعیه در اینقسمت</h3>
                      <p class="descrption">
                        خلاصه اطلاعیه ها در این قسمت دیده خواهد شدخلاصه اطلاعیه ها در این قسمت دیده خواهد شدخلاصه اطلاعیه ها در این قسمت دیده خواهد شد
                      </p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="flex--button">
                <a ui-sref="master.single">
                  <button type="button" class="button" name="button">{{ 'More' | translate }}</button>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="flex---products">
          <div class="flex--text">
            <h3 class="text">
            {{ 'product' | translate }}
              <div class="flex--line">
                <div class="flex--right">      <!-- right -->
                  <span class="line"></span>
                </div>
                <div class="flex--left">          <!-- left -->
                  <span class="line"></span>
                </div>
              </div>
            </h3>
          </div>
          <div class="flex--product">
            <div class="wrapper">
              <div class="flex--pic">
                <div class="flex--right">
                    <div class="min--pic" ui-sref="master.product">
                      <img src="styles/img/img-content.jpg" class="img--user" alt="">
                    </div>
                </div>
                <div class="flex--right">
                    <div class="min--pic" ui-sref="master.product">
                      <img src="styles/img/img-content.jpg" class="img--user" alt="">
                    </div>
                </div>
                <div class="flex--right">
                    <div class="min--pic" ui-sref="master.product">
                      <img src="styles/img/img-content.jpg" class="img--user" alt="">
                    </div>
                </div>
                <div class="flex--right">
                    <div class="min--pic" ui-sref="master.product">
                      <img src="styles/img/img-content.jpg" class="img--user" alt="">
                    </div>
                </div>
                <div class="flex--right">
                    <div class="min--pic" ui-sref="master.product">
                      <img src="styles/img/img-content.jpg" class="img--user" alt="">
                    </div>
                </div>
                <div class="flex--right">
                    <div class="min--pic" ui-sref="master.product">
                      <img src="styles/img/img-content.jpg" class="img--user" alt="">
                    </div>
                </div>
              </div>
              <div class="flex--button">
                <a ui-sref="master.single">
                  <button type="button" class="button" name="button">{{ 'More' | translate }}</button>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="flex---news">
          <div class="wrapper">
            <div class="flex--parent">
              <div class="flex---right">
                <div class="flex--right">
                  <a ui-sref="master.news" href="#">
                    <div class="flex--img">
                      <img src="styles/img/img-content.jpg" class="img--user" alt="">
                    </div>
                    <div class="flex--status">
                      <div class="flex--time">
                        <span class="time">۱۲</span>
                      </div>
                      <div class="flex--day">
                        <span class="day">بهمن</span>
                      </div>
                    </div>
                    <div class="flex--info">
                      <h3 class="title">عنوان اخبار در اینقسمت</h3>
                      <p class="descrption">
                        خلاصه اطلاعیه ها در این قسمت دیده خواهد شدخلاصه اطلاعیه ها در این قسمت دیده خواهد شدخلاصه اطلاعیه ها در این قسمت دیده خواهد شد
                      </p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="flex---left">
                <div class="flex--about">
                  <div class="flex--text">
                    <h3 class="text">
                      {{ 'news' | translate }}
                      <div class="flex--line">
                        <div class="flex--right">      <!-- right -->
                          <span class="line"></span>
                        </div>
                        <div class="flex--left">          <!-- left -->
                          <span class="line"></span>
                        </div>
                      </div>
                    </h3>
                  </div>
                  <div class="flex--news">
                    <div class="flex--group">
                        <div class="flex--item">
                            <div class="flex--right">
                              <a ui-sref="master.news" href="#">
                                <div class="flex--img">  <!-- right -->
                                  <img src="styles/img/img-content.jpg" class="img--user" alt="">
                                </div>
                              </a>
                            </div>
                            <div class="flex--left">
                              <div class="flex--padding">
                                <a ui-sref="master.news" href="#">
                                  <h3 class="title">عنوان اخبار در اینقسمت</h3>
                                  <p class="descrption">
                                    خلاصه اطلاعیه ها در این قسمت دیده خواهد شدخلاصه اطلاعیه ها در این قسمت دیده خواهد شدخلاصه اطلاعیه ها در این قسمت دیده خواهد شد
                                  </p>
                                </a>
                              </div>
                            </div>
                        </div>
                        <div class="flex--item">
                            <div class="flex--right">
                              <a ui-sref="master.news" href="#">
                                <div class="flex--img">  <!-- right -->
                                  <img src="styles/img/img-content.jpg" class="img--user" alt="">
                                </div>
                              </a>
                            </div>
                            <div class="flex--left">
                              <div class="flex--padding">
                                <a ui-sref="master.news" href="#">
                                  <h3 class="title">عنوان اخبار در اینقسمت</h3>
                                  <p class="descrption">
                                    خلاصه اطلاعیه ها در این قسمت دیده خواهد شدخلاصه اطلاعیه ها در این قسمت دیده خواهد شدخلاصه اطلاعیه ها در این قسمت دیده خواهد شد
                                  </p>
                                </a>
                              </div>
                            </div>
                        </div>
                        <div class="flex--item">
                            <div class="flex--right">
                              <a ui-sref="master.news" href="#">
                                <div class="flex--img">  <!-- right -->
                                  <img src="styles/img/img-content.jpg" class="img--user" alt="">
                                </div>
                              </a>
                            </div>
                            <div class="flex--left">
                              <div class="flex--padding">
                                <a ui-sref="master.news" href="#">
                                  <h3 class="title">عنوان اخبار در اینقسمت</h3>
                                  <p class="descrption">
                                    خلاصه اطلاعیه ها در این قسمت دیده خواهد شدخلاصه اطلاعیه ها در این قسمت دیده خواهد شدخلاصه اطلاعیه ها در این قسمت دیده خواهد شد
                                  </p>
                                </a>
                              </div>
                            </div>
                        </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
