<footer>
  <div class="flex--parent">
      <div class="wrapper">
          <div class="flex--wrap">
              <div class="flex---right">
                <div class="min--logo">
                  <a ui-sref="master.index" href="#">
                      <img src="styles/img/logo.png" class="img--logo" alt="">
                  </a>
                </div>
                <div class="flex--right">   <!-- socail -->
                    <div class="flex--item">
                        <div class="icon--right">
                          <img src="styles/img/telephone1.svg" class="icon" alt="">
                        </div>
                        <div class="flex---content">
                              <span class="title">{{  'Phone:'       | translate }}</span> <!-- number -->
                              <span class="number">{{ '048-2541'     | translate }}</span>
                        </div>
                    </div>
                    <div class="flex--item">
                        <div class="icon--right">
                          <img src="styles/img/telephone1.svg" class="icon" alt="">
                        </div>
                        <div class="flex---content">
                              <span class="title"> {{ 'Fax:'      | translate }}</span> <!-- number -->
                              <span class="number">{{ '012-5435'  | translate }}</span>
                        </div>
                    </div>
                    <div class="flex--item">
                        <div class="icon--right">
                          <img src="styles/img/little18.svg" class="icon" alt="">
                        </div>
                        <div class="flex---content">
                              <span class="title">{{ 'Email:'  | translate }}</span>
                              <span class="number">info@scom.com</span>
                        </div>
                    </div>
                    <div class="flex--item">
                        <div class="icon--right">
                          <img src="styles/img/map5.svg" class="icon" alt="">
                        </div>
                        <div class="flex---content">
                              <span class="title">{{ 'tehran,sahrvarde,shomale:'  | translate }} </span>
                        </div>
                    </div>
                    <div class="flex--item">
                        <div class="icon--right">
                          <img src="styles/img/map5.svg" class="icon" alt="">
                        </div>
                        <div class="flex---content">
                              <span class="title">{{ 'codePoste:'  | translate }}</span> <!-- number -->
                              <span class="number">1533883933 </span>
                        </div>
                    </div>
                </div>
              </div>
              <div class="flex---left">
                <div class="flex--right">
                    <div class="flex--info">
                          <div class="flex--icon"> <!-- right -->
                            <img src="styles/img/email-filled-closed-envelope.svg" class="img--user" alt="">
                          </div>
                          <div class="flex--message">  <!-- left -->
                            <h3 class="text">
                              از آخرین  مقالات و اخبار مطلع باشید
                            </h3>
                            <h3 class="title">
                              با وارد کردن ایمیل خود آخرین اطلاعات را دریافت کنید...
                            </h3>
                          </div>
                    </div>
                    <div class="flex--input">
                      <input type="text" class="send_mail" placeholder="" name="" value="">
                      <div class="flex--submit">
                          <input type="submit" class="submit" name="" value="">
                          <img src="styles/img/left-arrow-angle.svg" class="icon--arrow" alt="">
                      </div>
                    </div>
                    <div class="flex--social">
                      <a href="#" class="flex--bg">
                          <img src="styles/img/telegram.svg" class="icon" alt="">
                      </a>
                      <a href="#" class="flex--bg">
                          <img src="styles/img/instagram-logo.svg" class="icon" alt="">
                      </a>

                    </div>
                </div>
              </div>
          </div>
      </div>
  </div>
  <div class="flex--copy-right">
    <h3 class="title">کلیه حقوق محفوظ میباشد</h3>
  </div>
</footer>
