<div class="index flex--nav_top" >

  <ul>
    <div class="wrapper">
      <div class="flex--wrap">
        <div class="flex--parnet">

            <li>
              <a ui-sref="master.index">{{ 'Home' | translate }}
                <span class="border--bottom"></span>
              </a>
            </li>
            <li>
              <a ui-sref="master.about">{{ 'about' | translate }}
                <span class="border--bottom"></span>
              </a>
            </li>
            <li>
              <a ui-sref="master.product">{{ 'product' | translate }}
                <span class="border--bottom"></span>
              </a>
            </li>
            <li>
              <a ui-sref="master.news"> {{ 'news' | translate }}
                <span class="border--bottom"></span>
              </a>
            </li>
            <li>
              <a ui-sref="master.articals">{{ 'article' | translate }}
                <span class="border--bottom"></span>
              </a>
            </li>
            <li>
              <a ui-sref="master.contact"> {{ 'contact' | translate }}
                <span class="border--bottom"></span>
              </a>
            </li>
            <li>
              <a ui-sref="master.Repertory"> {{ 'Repertory' | translate }}
                <span class="border--bottom"></span>
              </a>
            </li>
        </div>
      </ul>
    </div>
  </div>

</div>
