<div class="container news">

  <ui-view name="logo_min"></ui-view>
  <div class="flex--parnet">
    <div class="flex--cover">
      <img src="styles/img/cover_news.jpg" class="img--user" alt="">
    </div>
    <ui-view name="menu_down"></ui-view>
    <div class="flex--items">
      <div class="flex---items">
          <div class="wrapper">
            <div class="flex--parent">
              <div class="flex--text">
                <div class="flex---right">
                      <h3 class="text">
                        {{ 'search' | translate }}
                          <div class="flex--line">
                            <div class="flex--right">      <!-- right -->
                              <span class="line"></span>
                            </div>
                            <div class="flex--left">          <!-- left -->
                              <span class="line"></span>
                            </div>
                          </div>
                      </h3>
                </div>
                <div class="flex---left">
                    <div class="flex--select">
                          <select class="select" name="">
                              <option value="">جدید ترین ها</option>
                              <option value="">جدید ترین ها</option>
                              <option value="">جدید ترین ها</option>
                          </select>
                          <img src="styles/img/angle-arrow-down.svg" class="arrow_down" alt="">
                      </div>
                </div>
              </div>
              <div class="flex---wrap" ng-controller="itemsCtrl as parent">
                <div class="flex--item" ng-repeat="item in parent.items">
                  <a ui-sref="master.single_news({id:item.id})">
                    <div class="flex--img">
                      <img ui-src="{{item.image}}" class="img--content" alt="">
                    </div>
                    <div class="flex--content">
                      <h3 class="title">عنوان اطلاعیه در اینقسمت</h3>
                      <p class="descrption">
                        خلاصه اطلاعیه ها در این قسمت دیده خواهد شدخلاصه اطلاعیه ها در این قسمت دیده خواهد شدخلاصه اطلاعیه ها در این قسمت دیده خواهد شد
                      </p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>



</div>
