<ui-view name="logo_min"></ui-view>
<div class="container single">
  <div class="flex--parnet">
    <div class="flex--cover">
      <img src="styles/img/cover_news.jpg" class="img--user" alt="">
    </div>
  </div>
  <ui-view name="menu_down"></ui-view>
  <div class="flex---about">
    <div class="wrapper">
      <div class="flex--parent">
        <div class="flex--text">
          <div class="flex---right">
            <h3 class="text">
              مقالات
              <div class="flex--line">
                <div class="flex--right">      <!-- right -->
                  <span class="line"></span>
                </div>
                <div class="flex--left">          <!-- left -->
                  <span class="line"></span>
                </div>
              </div>
            </h3>
          </div>
          <div class="flex---left">
            <div class="flex--item">
              <div class="flex--right">
                <span class="day">۱۳۷۶/۱۱/۲۲</span>
                <img src="styles/img/little14.svg" class="pic" alt="">
              </div>
              <div class="flex--right">
                <svg version="1.1" class="pic golden" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                width="97.092px" height="97.092px" viewBox="0 0 97.092 97.092" style="enable-background:new 0 0 97.092 97.092;"
                xml:space="preserve">
                <path d="M96.994,37.478c-0.236-0.725-0.862-1.253-1.617-1.361l-31.141-4.494L50.34,3.396c-0.336-0.684-1.032-1.116-1.794-1.116
                c-0.762,0-1.458,0.433-1.794,1.116L32.855,31.623l-31.14,4.494c-0.754,0.108-1.381,0.637-1.617,1.361
                c-0.235,0.725-0.039,1.521,0.508,2.052l22.551,21.94l-5.348,31.003c-0.13,0.751,0.179,1.51,0.795,1.958
                c0.618,0.448,1.434,0.507,2.108,0.151l27.834-14.668L76.38,94.582c0.293,0.154,0.612,0.23,0.933,0.23
                c0.415,0,0.827-0.129,1.176-0.382c0.616-0.448,0.926-1.207,0.795-1.958L73.936,61.47l22.551-21.94
                C97.031,38.999,97.229,38.203,96.994,37.478z"/>
              </svg>
              <svg version="1.1" class="pic golden" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              width="97.092px" height="97.092px" viewBox="0 0 97.092 97.092" style="enable-background:new 0 0 97.092 97.092;"
              xml:space="preserve">
              <path d="M96.994,37.478c-0.236-0.725-0.862-1.253-1.617-1.361l-31.141-4.494L50.34,3.396c-0.336-0.684-1.032-1.116-1.794-1.116
              c-0.762,0-1.458,0.433-1.794,1.116L32.855,31.623l-31.14,4.494c-0.754,0.108-1.381,0.637-1.617,1.361
              c-0.235,0.725-0.039,1.521,0.508,2.052l22.551,21.94l-5.348,31.003c-0.13,0.751,0.179,1.51,0.795,1.958
              c0.618,0.448,1.434,0.507,2.108,0.151l27.834-14.668L76.38,94.582c0.293,0.154,0.612,0.23,0.933,0.23
              c0.415,0,0.827-0.129,1.176-0.382c0.616-0.448,0.926-1.207,0.795-1.958L73.936,61.47l22.551-21.94
              C97.031,38.999,97.229,38.203,96.994,37.478z"/>
            </svg>
            <svg version="1.1" class="pic " xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="97.092px" height="97.092px" viewBox="0 0 97.092 97.092" style="enable-background:new 0 0 97.092 97.092;"
            xml:space="preserve">
            <path d="M96.994,37.478c-0.236-0.725-0.862-1.253-1.617-1.361l-31.141-4.494L50.34,3.396c-0.336-0.684-1.032-1.116-1.794-1.116
            c-0.762,0-1.458,0.433-1.794,1.116L32.855,31.623l-31.14,4.494c-0.754,0.108-1.381,0.637-1.617,1.361
            c-0.235,0.725-0.039,1.521,0.508,2.052l22.551,21.94l-5.348,31.003c-0.13,0.751,0.179,1.51,0.795,1.958
            c0.618,0.448,1.434,0.507,2.108,0.151l27.834-14.668L76.38,94.582c0.293,0.154,0.612,0.23,0.933,0.23
            c0.415,0,0.827-0.129,1.176-0.382c0.616-0.448,0.926-1.207,0.795-1.958L73.936,61.47l22.551-21.94
            C97.031,38.999,97.229,38.203,96.994,37.478z"/>
          </svg>
          <svg version="1.1" class="pic golden" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="97.092px" height="97.092px" viewBox="0 0 97.092 97.092" style="enable-background:new 0 0 97.092 97.092;"
          xml:space="preserve">
          <path d="M96.994,37.478c-0.236-0.725-0.862-1.253-1.617-1.361l-31.141-4.494L50.34,3.396c-0.336-0.684-1.032-1.116-1.794-1.116
          c-0.762,0-1.458,0.433-1.794,1.116L32.855,31.623l-31.14,4.494c-0.754,0.108-1.381,0.637-1.617,1.361
          c-0.235,0.725-0.039,1.521,0.508,2.052l22.551,21.94l-5.348,31.003c-0.13,0.751,0.179,1.51,0.795,1.958
          c0.618,0.448,1.434,0.507,2.108,0.151l27.834-14.668L76.38,94.582c0.293,0.154,0.612,0.23,0.933,0.23
          c0.415,0,0.827-0.129,1.176-0.382c0.616-0.448,0.926-1.207,0.795-1.958L73.936,61.47l22.551-21.94
          C97.031,38.999,97.229,38.203,96.994,37.478z"/>
        </svg>
      </div>
      <div class="min---icon">
        <div class="min--icon" ng-controller="printCtrl">
          <img src="styles/img/printing-filled-interface-button.svg" id="print" class="pic" alt="">
        </div>
        <div class="min--icon">
          <img src="styles/img/photo-sharing-square-interface-button.svg" class="pic" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
<div class="flex---min">
  <div class="wrapper">
    <div class="flex---slider">
      <div class="flex---right">
        <div class="flex--slider" ng-controller="NavSliderCtrl">
          <div class="slider" id="slider1">
            <div class="main-carousel">
              <div class="carousel-cell easyzoom easyzoom--overlay is-ready">
                <a href="styles/img/cover_news.jpg">
                  <img src="styles/img/cover_news.jpg" class="img--user" alt="">
                </a>
              </div>
              <div class="carousel-cell easyzoom easyzoom--overlay is-ready">
                <a href="styles/img/cover_news.jpg">
                  <img src="styles/img/cover_news.jpg" class="img--user" alt="">
                </a>
              </div>
              <div class="carousel-cell easyzoom easyzoom--overlay is-ready">
                <a href="styles/img/cover_news.jpg">
                  <img src="styles/img/cover_news.jpg" class="img--user" alt="">
                </a>
              </div>
              <div class="carousel-cell easyzoom easyzoom--overlay is-ready">
                <a href="styles/img/cover_news.jpg">
                  <img src="styles/img/cover_news.jpg" class="img--user" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="nav_slider2" id="sliderNav1">
            <div class="carousel-nav">
              <div class="carousel-cell">
                <img src="styles/img/cover_news.jpg" class="img--user" alt="">
              </div>
              <div class="carousel-cell">
                <img src="styles/img/cover_news.jpg" class="img--user" alt="">
              </div>
              <div class="carousel-cell">
                <img src="styles/img/cover_news.jpg" class="img--user" alt="">
              </div>
              <div class="carousel-cell">
                <img src="styles/img/cover_news.jpg" class="img--user" alt="">
              </div>
              <div class="carousel-cell">
                <img src="styles/img/cover_news.jpg" class="img--user" alt="">
              </div>
              <div class="carousel-cell">
                <img src="styles/img/cover_news.jpg" class="img--user" alt="">
              </div>
              <div class="carousel-cell">
                <img src="styles/img/cover_news.jpg" class="img--user" alt="">
              </div>  <div class="carousel-cell">
                <img src="styles/img/cover_news.jpg" class="img--user" alt="">
              </div>
              <div class="carousel-cell">
                <img src="styles/img/cover_news.jpg" class="img--user" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex---left">
        <div class="flex---text">
          <h3 class="text">مشخصات کلی</h3>
        </div>
        <div class="flex--cols">
          <div class="flex--col">
            <div class="flex--right">
              <h3 class="title">تعداد سیم کارت</h3>
            </div>
            <div class="flex--left">
              <h3 class="title">تعداد سیم کارت</h3>
            </div>
          </div>
          <div class="flex--col">
            <div class="flex--right">
              <h3 class="title">تعداد سیم کارت</h3>
            </div>
            <div class="flex--left">
              <h3 class="title">تعداد سیم کارت</h3>
            </div>
          </div>
          <div class="flex--col">
            <div class="flex--right">
              <h3 class="title">تعداد سیم کارت</h3>
            </div>
            <div class="flex--left">
              <h3 class="title">تعداد سیم کارت</h3>
            </div>
          </div>
          <div class="flex--col">
            <div class="flex--right">
              <h3 class="title">تعداد سیم کارت</h3>
            </div>
            <div class="flex--left">
              <h3 class="title">تعداد سیم کارت</h3>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="flex--tabs">
  <div class="wrapper">
    <div class="menu_tab ">
      <div class="tabs">
        <ul>
          <li class="selected">
            <h3 class="title">نقد و بررسی تخصصی</</h3>
          </li>
          <li>
            <h3 class="title">مشخصات فنی</h3>
          </li>
          <li>
            <h3 class="title">گالری فیلم</h3>
          </li>
          <li>
            <h3 class="title"> کاتالوگ  </h3>

          </li>
        </ul>
      </div>
      <div class="flex---descrption">
        <div class="flex--descrption">
          <div class="Checking_tab">
            <h3 class="title">نقد و بررسی تخصصی</h3>
            <p class="descrption">
              لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد. معمولا طراحان گرافیک برای صفحه‌آرایی، نخست از متن‌های آزمایشی و بی‌معنی استفاده می‌کنند تا صرفا به مشتری یا صاحب کار خود نشان دهند که صفحه طراحی یا صفحه بندی شده بعد از اینکه متن در آن قرار گیرد چگونه به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است. از آنجایی که طراحان عموما نویسنده متن نیستند و وظیفه رعایت حق تکثیر متون را ندارند و در همان حال کار آنها به نوعی وابسته به متن می‌باشد آنها با استفاده از محتویات ساختگی، صفحه گرافیکی خود را صفحه‌آرایی می‌کنند تا مرحله طراحی و صفحه‌بندی را به پایان برند.
            </p>
          </div>
        </div>
        <div class="flex--descrption">
          <div class="Checking_tab">
            <h3 class="title">نقد و بررسی تخصصی</h3>
            <div class="property">
              <div class="flex--cols">
                <div class="flex--col">
                  <div class="item">ویژگی ها</div>
                </div>
                <div class="flex--col">
                  <div class="item">ویژگی ها</div>
                </div>
                <div class="flex--col">
                  <div class="item">ویژگی ها</div>
                </div>
                <div class="flex--col">
                  <div class="item">ویژگی ها</div>
                </div>
                <div class="flex--col">
                  <div class="item">ویژگی ها</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex--descrption display--none" ng-controller="slider2Ctrl">
          <div class="flex--slider">
            <div class="wrapper">
              <div class="slider" id="slider2" >
                <div class="main-carousel">
                  <div class="carousel-cell">
                    <video class="video" controls>
                      <source src="styles/img/test.mp4" type="video/mp4">
                      </video>
                    </div>
                    <div class="carousel-cell">
                      <video class="video" controls>
                        <source src="styles/img/test.mp4" type="video/mp4">
                        </video>
                      </div>
                      <div class="carousel-cell">
                        <img src="styles/img/cover_news.jpg" class="img--user" alt="">
                      </div>
                      <div class="carousel-cell">
                        <img src="styles/img/cover_news.jpg" class="img--user" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="nav_slider2" id="sliderNav2">
                    <div class="carousel-nav">
                      <div class="carousel-cell">
                        <img src="styles/img/cover_news.jpg" class=" img--user" >
                      </div>
                      <div class="carousel-cell">
                        <img src="styles/img/cover_news.jpg" class="img--user" alt="">
                      </div>
                      <div class="carousel-cell">
                        <img src="styles/img/cover_news.jpg" class="img--user" alt="">
                      </div>
                      <div class="carousel-cell">
                        <img src="styles/img/cover_news.jpg" class="img--user" alt="">
                      </div>
                      <div class="carousel-cell">
                        <img src="styles/img/cover_news.jpg" class="img--user" alt="">
                      </div>
                      <div class="carousel-cell">
                        <img src="styles/img/cover_news.jpg" class="img--user" alt="">
                      </div>
                      <div class="carousel-cell">
                        <img src="styles/img/cover_news.jpg" class="img--user" alt="">
                      </div>  <div class="carousel-cell">
                        <img src="styles/img/cover_news.jpg" class="img--user" alt="">
                      </div>
                      <div class="carousel-cell">
                        <img src="styles/img/cover_news.jpg" class="img--user" alt="">
                      </div>
                    </div>
                  </div>
                </div>


              </div>

            </div>
            <div class="flex--descrption">
              <div class="flex---items">
                <div class="wrapper">
                  <div class="flex--parent">
                    <div class="flex---wrap">
                      <a ui-sref="master.single">
                        <div class="flex--item">
                          <div class="flex--img">
                            <img src="styles/img/img-content.jpg" class="img--content" alt="">
                          </div>
                          <div class="flex--content">
                            <h3 class="title">عنوان اطلاعیه در اینقسمت</h3>
                            <a ui-sref="master.single" class="descrption">لینک</a>
                          </div>
                        </a>
                      </div>
                      <div class="flex--item">
                        <a ui-sref="master.single">
                          <div class="flex--img">
                            <img src="styles/img/img-content.jpg" class="img--content" alt="">
                          </div>
                          <div class="flex--content">
                            <h3 class="title">عنوان اطلاعیه در اینقسمت</h3>
                            <a href="#" class="descrption">لینک</a>
                          </div>
                        </a>
                      </div>
                      <div class="flex--item">
                        <a ui-sref="master.single">
                          <div class="flex--img">
                            <img src="styles/img/img-content.jpg" class="img--content" alt="">
                          </div>
                          <div class="flex--content">
                            <h3 class="title">عنوان اطلاعیه در اینقسمت</h3>
                            <a href="#" class="descrption">لینک</a>
                          </div>
                        </a>
                      </div>
                      <div class="flex--item">
                        <a ui-sref="master.single">
                          <div class="flex--img">
                            <img src="styles/img/img-content.jpg" class="img--content" alt="">
                          </div>
                          <div class="flex--content">
                            <h3 class="title">عنوان اطلاعیه در اینقسمت</h3>
                            <a href="#" class="descrption">لینک</a>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
