.container{
  @extend .dir;
  width: $width;
  .flex--wrap{
    display: flex;
    width: $width;
    flex-direction: column;
    .flex---slider{
      width: $width;
      display: flex;
      flex-direction: column;
      .flex--menu{
        .flex--text{
          .text{
            color: $white;
            cursor: pointer;
            margin-bottom: 35px;
            .flex--line{
              margin-top: 5px;
              .flex--right{
                .line{
                  
                }
              }
            }
          }
        }
      }
    }
    .flex---content{
      width: $width;
      display: flex;
      flex-direction: column;
      padding-bottom: 68px;
      .logo-min2{
        .min--logo{
          background: #f7c300;
          @media screen and ("max-width:800px"){
            justify-content: center;
          }
        }
      }
    }



  }

}
