.flex--menu_down{
  width: $width;
  display: flex;
  background: #f7c300;
  padding-top: 20px;
  padding-bottom: 21px;
  .flex--menu{
    width: $width;
    display: flex;
    ul{
      display: flex;
      
      li{
        display: inline-flex;
        transition: all 120ms ease-in;
        position: relative;
        margin-left: 10px;
        padding-left: 20px;
        &:after{
          content: "";
          width: 7px;
          height: 7px;
          background: #26324a;
          position: absolute;
          left: 0px;
          top: 12px;
        }
        &:nth-child(2){
          a{
            padding-right: 0px;
          }
        }
        &:last-of-type{
          margin-left: 0px;
          &:after{
            display: none;
          }
        }
      }
      a{
        display: block;
        @include Web(18);
        color: #191f42;
      }
    }
  }
}
