.flex--text{
  text-align: center;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  .text{
    @include Bold(29);
    color: #000000;
    display: block;
    cursor: default;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .flex--line{
    display: flex;
    justify-content: center;
    .flex--right{
      display: flex;
      width: 22%;
      margin-left: 5px;
      .line{
        width: $width;
        background: #f7c300;
        height: 5px;
        display: block;
      }
    }
    .flex--left{
      display: flex;
      width: 22%;
      .line{
        width: $width;
        background: #cdcdcd;
        height: 5px;
        display: block;
      }
    }
  }
}
