header.index{
  width: $width;
  @extend .dir;
  .flex--nav-top{
    display: flex;
    width: $width;
    background: #1b263e;
    padding-bottom: 3px;
    .flex--wrap{
      display: flex;
      @media#{$Medium}{
        flex-direction: column;
      }
      .flex---right{
        display: flex;
        flex-grow: 1;
        align-items: center;
        padding-top: 5px;
        flex-wrap: wrap;
        @media#{$Medium}{
          width: $width;
          flex-grow: 0;
          margin-bottom: 8px;
        }
        .flex--date_time{
          display: flex;
          margin-left: 20px;
          @media#{$mobile }{
            width: $width;
            margin-bottom: 8px;
            justify-content: center;
          }
          .title{
            @include Web(14);
            color: #9ba0aa;
            cursor: default;
            margin-left: 5px;
          }
        }
        .flex--language{
          display: flex;
          @media#{$mobile }{
            justify-content: center;
            width: $width;
            margin-bottom: 8px;
          }
          .title{
            @include Web(14);
            margin-left: 15px;
            cursor: pointer;
            color: #d6d6d9;
            transition: all 95ms ease-in-out;
            &:hover{
              color: #f7b400;
              transition: all 95ms ease-in-out;
            }
          }
        }
      }
      .flex---left{
        width: 345px;
        display: flex;
        justify-content: flex-end;
        @media#{$Medium}{
          width: $width;
          margin-bottom: 8px;
        }
        .flex--right{
          display: flex;
          width: $width;
          @media#{$Medium}{
            width: $width;
          }
          @media#{$mobile }{
            width: $width;
          }
          .input{
            width: $width;
            @include Web(17);
            color: #9ba0aa;
            background: #26324a;
            border: none;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-right: 15px;
            padding-left: 15px;
          }
        }
        .flex--left{
          width: 60px;
          height: $height;
          display: flex;
          justify-content: center;
          background: #f7c300;
          text-align: center;
          align-items: center;
          @media#{$Medium}{
            height: auto;
          }
          .img--user{
            width: 29px;
            height: 29px;
          }
        }
      }
    }
  }

}
