.flex--nav_top{
  display: flex;
  position: absolute;
  top: 186px;
  z-index: 11;
  @extend .dir;
  left: 0px;
  right: 0px;
  margin-right: auto;
  margin-left: auto;
  @media#{$desktop}{
    margin:inherit;
  }
  @media screen and ("max-width:900px"){
    display: none;
    right: 32px;
  }
  @media#{$mobile-big }{
    display: block;
    right: 0px;
    position: relative;
    top: 0px;
  }
  ul{
    background: #f7c300;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    @media#{$desktop}{
      width: $width;
      margin: inherit;
    }
    @media screen and ("max-width:900px"){
      width: 250px;
      padding-right: 10px;
      background: #ccc;
    }
    @media#{$mobile-big}{
      width: $width;
      padding-right: 0px;
    }
    .flex--wrap{
      display: flex;
      margin-right: auto;
      margin-left: auto;
      justify-content: center;
      @media#{$Medium}{
        width: $width;
        margin-left: inherit;
      }
    }
    li{
      display: inline-flex;
      margin-left: 14px;
      align-items: center;
      @media screen and ("max-width:900px"){
        width: $width;
      }
      @media#{$mobile-big }{
        text-align: center;
        margin-left: 0px;
      }
      &:last-of-type{
        @media#{$mobile-big }{
          margin-bottom: 30px;
        }
      }
      &:after{
        content: "";
        width: 1px;
        border-left: solid 1px #2e2e2e;
        margin-right: 14px;
        height: 17px;
        @media screen and ("max-width:900px"){
          display: none;
        }
      }
      &:last-of-type{
        margin-left: 0px;
        &:after{
          display: none;
          margin-right: 0px;
        }
      }
    }
    a{
      width: $width;
      @include Bold(17);
      color:#191f42;
      transition: 95ms ease-in-out;
      padding-top:35px;
      padding-bottom: 25px;
      &:hover{
          color: $white;
          transition: 95ms ease-in-out;
          @media screen and ("max-width:900px"){
            color: #000;
          }
          .border--bottom{
            opacity: 1;
            transition: 95ms ease-in-out;
          }
      }
      @media screen and ("max-width:900px"){
        padding-bottom: 0px;
        padding-top: 0px;
        margin-top: 35px;
      }
      .border--bottom{
        width: $width;
        height: 9px;
        background: #191f42;
        display: block;
        position: relative;
        top: 26px;
        opacity: 0;
        transition: 95ms ease-in-out;
        @media screen and ("max-width:900px"){
          display: none;
        }
      }
    }
  }
}
