@font-face {
  font-family: 'IRANSansWeb';
  src: url('../fonts/IRANSansWeb.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IRANSansWeb_Bold';
  src: url('../fonts/IRANSansWeb_Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IRANSansWeb_Light';
  src: url('../fonts/IRANSansWeb_Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IRANSansWeb_Medium';
  src: url('../fonts/IRANSansWeb_Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IRANSansWeb_UltraLight';
  src: url('../fonts/IRANSansWeb_UltraLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BYekan';
  src: url('../fonts/BYekan.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
