$desktop       :     "(max-width: 1338px)";
$tablet        :     "(max-width:1200px)";
$Medium        :     "(max-width:860px)";
$mobile-big    :     "(max-width:600px)";
$mobile        :     "(max-width:430px)";
$mobile-min    :     "(max-width:330px)";
