// mixins
@mixin Web($size : 16) {
  font: #{$size}px 'IRANSansWeb';
}

@mixin Bold($size : 16) {
  font: #{$size}px 'IRANSansWeb_Bold';
}

@mixin Light($size : 16) {
  font: #{$size}px 'IRANSansWeb_Light';
}

@mixin Medium($size : 16) {
  font: #{$size}px 'IRANSansWeb_Medium';
}

@mixin BYekan($size : 24) {
  font: #{$size}px 'BYekan';
}
