$width   :100%;
$height  :100%;
$white   : #fff;
$yellow  : #f7c300;


/// General ///
body{
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: column;
}
ul,li, h1,h2,h3,h4,h5,figure{
  margin: 0px;
  padding:0px;
}
.wrapper{
  width: 1170px;
  margin: auto;
  @media #{$desktop }{
    width: 95%;
  }
}
.dir{
  box-sizing: border-box;
}
.right{
  float: right;
}
.left{
  float: left;
}
.align-center{
  text-align: center;
}
*, *::after, *::before {
    box-sizing: border-box;
    outline: none;
}
.clear-fix{
  clear: both;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
img{
  vertical-align: middle;
}
.golden{
  fill:#f7c300 !important;
}
.min-humber{
  display: none;
  @media screen and ("max-width:900px"){
    display: flex;
    flex-grow: 1;
  }
  @media#{$mobile-big }{
    display: none;
  }
}
.nav-opener{
  cursor: pointer;
}
.display--none{
  pointer-events: none !important;
  transition: all 120ms ease-in-out;
  opacity: 0 !important;
  height: 0;
}
#slider2{
  .flickity-prev-next-button{
    display: none;
  }
}
#slider1 {
  .flickity-prev-next-button{
    display: none;
  }
}
.Repertory{
  padding-top: 120px;
  @media screen and ("max-width:900px"){
    padding-top: 30px;
  }
  .descrption{
    margin-top: 0px;
  }
}
#pic{
  width: $width;
  height: 300px;
  position: relative;
}
