<aside class="_sidebar">
  <div class="_sidebar--content">
    <!-- profile -->
    <div class="_sidebar--content--profile">
      <div class="_profile--circle">
        <img src="" alt="">
      </div>
      <div class="_profile--name">
        <span>نام ادمین</span>
      </div>
    </div>
    <!--  -->
    <div class="_line">
      <hr>
    </div>
    <!-- menu -->
    <div class="sidebar--content--menu" ng-controller="ad_menu_Ctrl">
      <ul class="_menu--ul">
        <li>
          <!-- <span class="_link" >پنل کابری</span>
          <ul class="_menu--ul--subul">
            <li>
              <span class="_sublink" ui-sref="admaster.login">نام کاربری </span>
            </li>
            <li>
              <span class="_sublink" ui-sref="admaster.signup">ثبت نام</span>
            </li>
          </ul> -->
        </li>
        <li>
          <span ui-sref="admaster.dashboard" class="_link _menuActive" >داشبورد</span>
        </li>
        <li>
          <span class="_link" >مدیرت اخبار</span>
          <ul class="_menu--ul--subul">
            <li>
              <span class="_sublink" ui-sref="admaster.news_list">لیست اخبار</span>
            </li>
            <li>
              <span class="_sublink" ui-sref="admaster.Entry_News">ثبت خبر جدید</span>
            </li>
          </ul>
        </li>
        <li>
          <span class="_link" >مدیریت مقالات</span>
          <ul class="_menu--ul--subul">
            <li>
              <span ui-sref="admaster.artical_list" class="_sublink">لیست مقالات</span>
            </li>
            <li>
              <span ui-sref="admaster.postcreate" class="_sublink">ایجاد مقاله</span>
            </li>
          </ul>
        </li>

        <li >
          <span class="_link" >مدیرت مصحولات</span>
          <ul class="_menu--ul--subul">
            <li>
              <span ui-sref="admaster.list_product" class="_sublink" >لیست محصولات</span>
            </li>
            <li>
              <span ui-sref="admaster.product_create"  class="_sublink">ایجاد محصولات</span>
            </li>
          </ul>
        </li>

        <li>
          <span class="_link" >مدیریت فروم</span>
          <ul class="_menu--ul--subul">
            <li >
              <span class="_sublink">ایجاد دسته های فروم</span>
            </li>
            <li>
              <span class="_sublink"> تایید تاپیک ها و پاسخ ها</span>
            </li>
            <li>
              <span class="_sublink">تایید پاسخ گویی مشاوران</span>
            </li>
          </ul>
        </li>
        <li>
          <span class="_link" >مدیریت اعضا</span>
          <ul class="_menu--ul--subul">
            <li >
              <span ui-sref="admaster.userslist" class="_sublink">اعضای عادی</span>
            </li>
            <li>
              <span ui-sref="admaster.userslist_author"   class="_sublink">نویسندگان</span>
            </li>
          </ul>
        </li>
        <li>
          <span class="_link" >تنظیمات</span>
          <ul class="_menu--ul--subul">
            <li >
              <span class="_sublink">تغییر لوگو</span>
            </li>
            <li >
              <span class="_sublink">گالری</span>
            </li>
            <li>
              <span class="_sublink">شبکه های اجتماعی</span>
            </li>
          </ul>
        </li>
        <li>
          <span class="_link" >مدیریت تبلیغات</span>
        </li>
      </ul>
    </div>

  </div>
</aside>
