.container.single{
  @extend .dir;
  .flex--parnet{
    .flex--cover{
      .img--user {
        width: 100%;
        max-height: 346px;
      }
    }

  }
  .flex---about{
    width: $width;
    display: flex;
    flex-direction: column;
    .flex--parent{
      display: flex;
      width: $width;
      .flex--text {
        width: 100%;
        display: flex;
        margin-right: inherit;
        margin-left: inherit;
        align-items: center;
        @media#{$mobile-big}{
          justify-content: center;
          flex-direction: column;
          margin-bottom: 20px;
        }
        .flex---right{
          width: 200px;
          .text{
            margin-bottom: 20px;
            margin-top: 20px;
          }
        }
        .flex---left{
          display: flex;
          flex-grow: 1;
          justify-content: flex-end;
          @media#{$mobile-big }{
            width: $width;
            justify-content: center;
          }
          .flex--item{
            display: flex;
            align-items: center;
            @media screen and ("max-width:500px"){
              flex-direction: column;
              justify-content: center;
            }
            .flex--right{
              display: flex;
              align-items: center;
              margin-left: 30px;
              @media screen and ("max-width:500px"){
                margin-bottom: 15px;
              }
              &:nth-child(2){
                margin-left: 20px;
                .pic{
                  width: 25px;
                  height: 25px;
                  margin-right: 2px;
                }
              }

              .day{
                @include Medium(18);
                color: #3c3c3c;
                margin-left: 13px;
                margin-top: 5px;
                cursor: default;
              }
              .pic{
                width: 36px;
                height: 36px;
              }
            }
            .min---icon{
              display: flex;
              @media screen and ("max-width:500px"){
                margin-top: 5px;
              }
              .min--icon{
                margin-left: 15px;
                cursor: pointer;
              }
                .pic{
                  width: 40px;
                  height: 40px;
                  margin-right: 2px;
                }
            }

          }
        }
      }
    }
    .flex--center{
      margin-right: auto;
      margin-left: auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      @media#{$mobile-big}{
        width: 90%;
      }
      .title{
        @include Web(18);
        color: #20363d;
        cursor: default;
        font-weight: 400;
        margin-bottom: 8px;
      }
      .text{
        @include Bold(24);
        color: #26324a;
        cursor: default;
        margin-bottom: 8px;
        @media#{$mobile-big}{
          font-size: 20px;
        }
      }
    }
    .flex---single{
      width: $width;
      display: flex;
      padding-top: 15px;
      padding-bottom: 15px;
      flex-flow: column;
      .flex---desrcption{
        width: $width;
        display: flex;
        background: #f0f1f2;
        padding-top: 23px;
        padding-bottom: 20px;
        .flex--desrcption{
          width: 836px;
          margin-right: auto;
          margin-left: auto;
          display: flex;
          @media#{$tablet}{
            width: 90%;
          }
          .flex--right{
            display: flex;
            margin-top: -6px;
            @media#{$mobile}{
              display: none;
            }
            .icon--quotations{
              width: 35px;
              height: 35px;
            }
          }
          .flex--left{
            display: flex;
            width:868px;
            position: relative;
            .desrcption{
              width: 95.5%;
              @include Web(18);
              color: #26324a;
              cursor: default;
              margin-top: 0px;
              margin-bottom: 0px;
              font-weight: 600;
              word-wrap: break-word;
              @media#{$mobile}{
                width: $width;
                font-size: 17px;
              }
            }
            .flex--icon{
              position: absolute;
              left: 0px;
              bottom: 0px;
              @media#{$mobile}{
                display: none;
              }
              .icon--quotations{
                width: 35px;
                height: 35px;
              }
            }
          }
        }
      }
      .flex--info--item{
        width: $width;
        display: flex;
        padding-top: 26px;
        align-items: flex-start;
        @media#{$Medium}{
          flex-direction: column;
        }
        .flex--right{
          display: flex;
          width: 516px;
          height: $height;
          margin-top: 12px;
          margin-bottom: 40px;
          @media#{$desktop}{
            width: 50%;
          }
          @media#{$Medium}{
            width: $width;
          }
          .user--img{
            width: $width;
            max-height: 328px;

          }
        }
        .flex--left{
          display: flex;
          width: 630px;
          margin-right:auto;
          margin-top: 1px;
          @media#{$desktop}{
            width: 50%;
            margin-top: 4px;
          }
          @media#{$Medium}{
            width: $width;
            margin:inherit;
          }
          @media#{$mobile-big}{
            padding-left: 5px;
            padding-right: 5px;
            margin-bottom: 10px;
          }
          .desrcption{
            @include Web(18);
            color: #202735;
            width: $width;
            margin-top: 0px;
            cursor: default;
            font-weight: 500;
            word-wrap: break-word;
            @media#{$desktop}{
              width:90%;
              margin-right:auto;
              margin-left: auto;
            }
            @media#{$Medium}{
              width: $width;
              margin-top: 15px;
              font-size: 16px;
            }
          }
        }
      }

      .links{
        width: $width;
        .flex---right{
          display: flex;
          flex-flow: column;
          .flex--links{
            display: flex;
            width: $width;
            flex-wrap: wrap;
            .flex--right{
              display: flex;
              justify-content: flex-start;
              margin-left: 10px;
              margin-bottom: 8px;
              .button{
                padding-right: 25px;
                padding-left: 25px;
                padding-top: 4px;
                padding-bottom: 5px;
                background: #f0f2f1;
                transition: all 95ms ease-in-out;
                border: none;
                @include Medium(15);
                color: #26324a;
                cursor: pointer;
                &:hover,&:active{
                  background: #f7c300;
                  transition: all 95ms ease-in-out;
                  color: $white;
                  .icon--link{
                    fill:$white;
                    transition: all 95ms ease-in-out;
                  }
                }
                .icon--link{
                  width: 16px;
                  height: 16px;
                  fill:#26324a;
                  margin-left: 3px;
                  position: relative;
                  top: 4px;
                  transition: all 95ms ease-in-out;
                }
              }
            }
          }

        }
      }
      .flex--dependents{
        width: $width;
        display: flex;
        padding-top: 30px;
        padding-bottom: 40px;
        flex-direction: column;
        .flex---items{
          padding-top: 20px;
        }
      }
      .flex--note{
        width: $width;
        display: flex;
        flex-direction: column;
        @extend .dir;
        .flex--dependent{
          background: #f7c300;
          .text{
            color: #26324a;
          }
        }
      }
    }
  }
}
